<!DOCTYPE html>
<html>

<head>
  <title>Create Sale</title>
</head>

<body>
  <h1>Create Sale</h1>
  <form method="post">
    {% csrf_token %}
    <label for="customer_name">Customer Name:</label><br>
    <input type="text" id="customer_name" name="customer_name" required><br>

    <label for="location">Location:</label><br>
    <input type="text" id="location" name="location" required><br>

    <label for="total_price">Total Price:</label><br>
    <input type="number" id="total_price" name="total_price"  required><br>

    <h2>Products:</h2>
    <div class="sales_products">
      <div class="single-product">
        <label >Product Name:</label><br>
        <input type="text"  name="product_name[]" required><br>

        <label >Product Price:</label><br>
        <input type="number"  name="product_price[]" required><br>

        <label >Quantity:</label><br>
        <input type="number" name="quantity[]" required><br><br>
      </div>
    </div>


    <button id="addProduct">Add Product</button> <br> <br>

    <input type="submit" value="Create Sale">

    {{ product_forms }}
  </form>



  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const addButton = document.getElementById("addProduct");
        const salesProductsDiv = document.querySelector(".sales_products");
  

        addButton.addEventListener("click", function() {
            const newProductDiv = document.createElement("div");
            newProductDiv.classList.add("single-product");
            newProductDiv.innerHTML = `
                <label>Product Name:</label><br>
                <input type="text" name="product_name[]" required><br>

                <label>Product Price:</label><br>
                <input type="number" name="product_price[]" step="0.01" required><br>

                <label>Quantity:</label><br>
                <input type="number" name="quantity[]" required><br><br>
            `;
            salesProductsDiv.appendChild(newProductDiv);

        });
    });
</script>
</body>

</html>